@font-face {
	font-family: 'Asket';
	src: url('/font/Asket_Narrow_Light.ttf');
}

body {
     margin: 0px;
     font-family: 'Asket';
}

h1{

     margin : 10px;
     font-size: 10px;

}

a {
     margin: 20px;
}

canvas {
	margin-left: auto;
	margin-right: auto

}

.leaflet-container {
     margin-left: auto;
     margin-right: auto;

}

/*
 Style du texte
*/
